* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.task {
  padding: 1rem;
  list-style: none;
}

.task-completed {
  /* text-decoration: line-through; */
  position: relative;
}

@keyframes strike{
  0%   { width : 0;}
  100% { width: 100%;}
}

.task-completed::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  opacity: 0.9;
  background: black;
  animation-name: strike;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}

.task-list {
  padding: 1rem;
}

.completed-button {
  padding: 1rem;
  color: black;
}

.form {
  padding: 1rem;
}

.form-button {
  padding: 1rem;
}

.form-input {
  padding: 1rem;
}

.title {
  padding: 1rem;
}

.reset-button {
  padding: 1rem;
}

.remove-completed-button {
  padding: 1rem;
}

.error-message {
  display: inline-flex;
  background-color: red;
}
.task-container {
  display: flex;
}